<div class="field is-fullwidth is-grouped">
  <div class="control">
    <div class="select is-small">
      <select name="year" [(ngModel)]="currentYear" (change)="onChangePeriod()">
        <option *ngFor="let item of periodControl.year" [value]="item">{{item+543}}</option>
      </select>
    </div>
  </div>
  <div class="control">
    <div class="select is-small">
      <select name="month" [(ngModel)]="currentMonth" (change)="onChangePeriod()">
        <option *ngFor="let item of periodControl.month;index as i" [value]="item">{{monthDes[i]}}</option>
      </select>
    </div>
  </div>
</div>
<table class="table is-responsive is-fullwidth">
  <thead>
    <tr>
      <th>No.</th>
      <th>Tanent</th>
      <th>Room</th>
      <th>Member</th>
      <th>Current Electrity</th>
      <th>Last month Electrity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of rental;index as i">
      <td>{{i+1}}</td>
      <td>{{item.tanentName}}</td>
      <td>{{item.roomName}}</td>
      <td><input class="input is-small" type="text" name="member" [(ngModel)]="item.member"></td>
      <td><input class="input is-small" type="text" name="current_electrity" [(ngModel)]="item.current_electrity"></td>
      <td>{{item.lastmonth_electrity}}</td>
    </tr>
  </tbody>
</table>
<a class="button is-primary is-fullwidth" (click)="onSubmit()">
  Cutoff
</a>