<notification-message></notification-message>
<div class="main-container" [class.main-is-mobile]="mobileQuery.matches">
    <mat-toolbar *ngIf="authService.user|async" color="primary" class="example-toolbar">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name">Simple Room</h1>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [style.visibility]="!(authService.user | async)?'hidden':''">
            <app-main-nav (click)="sidenav.toggle()"></app-main-nav>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>