<table class="table is-responsive is-fullwidth">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Rate</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of room;index as i">
      <td>{{i+1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.rate | number : '1.2-2'}}</td>
      <td>
        <div class="field is-grouped is-pulled-right">
          <p class="control">
            <a class="button is-primary" routerLink="/room/edit/{{id}}/{{item.id}}">
              <span class="icon">
                <i class="far fa-edit"></i>
              </span>
            </a>
          </p>
          <p class="control">
            <a class="button is-danger" (click)="onDelete(item)">
              <span class="icon">
                <i class="far fa-trash-alt"></i>
              </span>
            </a>
          </p>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="add-button">
  <button mat-fab color="primary" routerLink="/room/add/{{id}}">+</button>
</div>