<form (submit)="onSubmit($event)">
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" type="text" placeholder="Type" name="tanentName" [(ngModel)]="tanent.name" disabled="disabled"
        required>
    </div>
  </div>
  <div class="field">
    <label class="label">House</label>
    <div class="control">
      <div class="select is-fullwidth">
        <select (change)="onChangeHouse($event)">
          <option value="null">Select dropdown</option>
          <option *ngFor="let item of house" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="field" *ngIf="houseId">
    <label class="label">Room</label>
    <div class="control">
      <div class="select is-fullwidth">
        <select name="roomId" [(ngModel)]="rental.room">
          <option value="">Select dropdown</option>
          <option *ngFor="let item of room" [value]="item|json">{{item.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label">Electrity</label>
    <div class="control">
      <input class="input" type="text" placeholder="Electrity" name="electrityUnit" [(ngModel)]="rental.electrity"
        required>
    </div>
  </div>
  <div class="field">
    <label class="label">Status</label>
    <label class="checkbox">
      <input type="checkbox" name="rentalStatus" [(ngModel)]="rental.status">
      Active
    </label>
  </div>

  <button class="button is-block is-info is-large is-fullwidth">Submit</button>
</form>