<form (submit)="onSubmit($event)">
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" type="text" placeholder="Name" name="tanentName" [(ngModel)]="tanent.name" required>
    </div>
  </div>
  <div class="field">
    <label class="label">Member</label>
    <div class="control">
      <input class="input" type="text" placeholder="Member" name="tanentMember" [(ngModel)]="tanent.member" required>
    </div>
  </div>
  <button class="button is-block is-info is-large is-fullwidth">Submit</button>
</form>