<form (submit)="onSubmit($event)">
  <div class="field">
    <label class="label">Type</label>
    <div class="control">
      <input class="input" type="text" placeholder="Type" name="costType" [(ngModel)]="cost.type" required>
    </div>
  </div>
  <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <input class="input" type="text" placeholder="Description" name="costDescription" [(ngModel)]="cost.description"
        required>
    </div>
  </div>
  <div class="field">
    <label class="label">Unit</label>
    <div class="control">
      <input class="input" type="text" placeholder="Unit" name="costUnit" [(ngModel)]="cost.value" required>
    </div>
  </div>
  <button class="button is-block is-info is-large is-fullwidth">Submit</button>
</form>